.career {
  position: relative;
}

.career__container {
  text-align: center;
  position: relative;

  // &::before {
  //   display: none;

  //   @media (min-width: $laptop-width) {
  //     display: block;
  //     content: "";
  //     background-image: url("../../img/career/frame.png");
  //     background-repeat: no-repeat;
  //     background-position: 0 0;
  //     position: absolute;
  //     width: 1179px;
  //     height: 409px;
  //     top: -90px;
  //     left: 130px;
  //   }
  // }

  @media (min-width: $laptop-width) {
    text-align: start;
    display: flex;
    padding-left: 150px;
    align-items: center;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 300px;
    margin-bottom: unset;
    gap: 100px;
  }
}

.career__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    font-size: 24px;
    line-height: 28px;
  }

  @media (min-width: $laptop-width) {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 14px;
    line-height: 32px;
    text-transform: uppercase;
    width: 662px;
  }

  //   &::after {
  //     display: none;

  //     // @media (min-width: $laptop-width) {
  //     //   display: block;
  //     //   content: "";
  //     //   background-image: url("../../img/career/text-decoration.png");
  //     //   background-repeat: no-repeat;
  //     //   background-position: 0 0;
  //     //   position: absolute;
  //     //   width: 252px;
  //     //   height: 64px;
  //     //   top: 75px;
  //     //   right: 850px;
  //     // }
  // }
}

// .career__icon {
//   display: none;

//   @media (min-width: $laptop-width) {
//     display: block;
//     position: absolute;
//     top: 75px;
//     left: 340px;

//     animation-duration: 1s;
//     animation-name: logo;

//     @keyframes logo {
//       from {
//         transform: rotate(-45deg);
//       }

//       to {
//         transform: none;
//       }
//     }
//   }
// }

.career__text {
  margin-bottom: 11px;
  width: 269px;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
    width: 604px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 69px;
    width: 629px;
    margin-left: unset;
  }

  &::after {
    display: none;

    @media (min-width: $laptop-width) {
      display: block;
      content: "";
      background-image: url("../../img/career/lower.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 635px;
      height: 272px;
      top: 370px;
      left: 10px;
    }

    @media (min-width: $desktop-width) {
      top: 420px;
      left: 120px;
    }
  }
}

.career__img {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $laptop-width) {
    display: block;
    width: 651px;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 718px;
    height: 100%;
  }
}

.career__img_small {
  width: 100%;
  height: auto;
  margin-bottom: 27px;

  @media (min-width: $laptop-width) {
    display: none;
    margin-bottom: 49px;
  }
}

.career__icon {
  display: none;

  @media (min-width: $laptop-width) {
    display: block;
    position: absolute;
    top: -80px;
    left: 70px;
    transform: rotate(3deg);

    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;

    @-webkit-keyframes mymove {
      50% {
        opacity: 0;
      }
    }

    @keyframes mymove {
      50% {
        opacity: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    top: -60px;
    left: 250px;
  }
}
