.communication__container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  padding-bottom: 22px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
    gap: 20px;
  }

  @media (min-width: $laptop-width) {
    flex-direction: row;
    align-items: center;
    gap: 0;
    padding-bottom: 90px;
  }
}

.communication__description {
  @media (min-width: $laptop-width) {
    flex-basis: 552px;
  }
}

.communication__title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
    font-size: 35px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 17px;
    font-size: 40px;
    text-align: left;
  }
}

.communication__text {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 31px;
    text-align: left;
  }
}

.communication__link {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: $tablet-width) {
    font-size: 35px;
    margin-bottom: 21px;
  }

  @media (min-width: $laptop-width) {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 500;
    display: block;
    text-align: left;
  }
}

.communication__form {
  background-image: url("../../img/form-background_mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 363px;
  height: 350px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/form-background_laptop.svg");
    width: 542px;
    height: 522px;
  }

  @media (min-width: $laptop-width) {
    background-image: url("../../img/form-backgroung2.svg");
    background-size: contain;
    width: 685px;
    height: 631px;
  }
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 10px;
  }

  @media (min-width: $laptop-width) {
    gap: 20px;
  }
}

.form__item {
  border: none;
  padding: 0;
  margin: 0;
}

.form__input {
  font-family: "Commissioner", "Arial", sans-serif;
  background-color: transparent;
  font-size: 14px;
  border: 2px solid $white;
  border-radius: 60px;
  padding: 20px 15px;
  width: 220px;
  height: 30px;
  color: $white;
  transition: all 0.3s ease;

  &:hover {
    border-color: $blue;
  }

  @media (min-width: $tablet-width) {
    width: 330px;
    height: 70px;
    padding: 20px 30px;
    font-size: 24px;
  }

  @media (min-width: $laptop-width) {
    width: 440px;
    height: 70px;
  }

  &::placeholder {
    color: $white;
    font-size: 14px;

    @media (min-width: $tablet-width) {
      font-size: 24px;
    }
  }
}

.form__button {
  font-size: 14px;
  font-weight: 600;
  color: $white;
  background-color: transparent;
  text-transform: uppercase;
  width: 156px;
  height: 37px;
  border: 2px solid $white;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;

  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $blue;
    border-color: $blue;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    width: 280px;
    height: 62px;
    border: 3px solid $white;
  }

  @media (min-width: $laptop-width) {
    font-size: 28px;
    width: 332px;
    height: 94px;
  }
}

.communication__icon {
  display: none;

  @media (min-width: $laptop-width) {
    display: block;
    position: absolute;
    top: 380px;
    left: 300px;
    animation: mymove 5s infinite;

    @keyframes mymove {
      50% {
        opacity: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 340px;
    left: 530px;
  }
}
