.communication {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 29px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-left: 44px;
    margin-bottom: 55px;
    gap: 19px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    flex-direction: row;
    gap: 45px;
    margin-bottom: 100px;
  }
}

.communication__container {
  @media (min-width: $desktop-width) {
    padding-top: 154px;
  }
}

.communication__title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
    font-size: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
    font-size: 40px;
  }
}

.communication__text {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.communication__link {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: $tablet-width) {
    font-size: 35px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 500;
  }
}

.communication__form {
  background-image: url("../../img/form-background_mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 363px;
  height: 350px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/form-background_laptop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 542px;
    height: 522px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/form-background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 658px;
    height: 698px;
  }
}

.form__container {
  display: flex;
  justify-content: center;
  padding-top: 70px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 150px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.form__item {
  border: none;
  padding: 0;
  margin: 0;
}

.form__input {
  font-family: "Commissioner", "Arial", sans-serif;
  background-color: transparent;
  font-size: 14px;
  border: 2px solid $white;
  border-radius: 60px;
  padding: 20px 15px;
  width: 220px;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 330px;
    height: 70px;
    padding: 20px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 440px;
    height: 70px;
  }

  &::placeholder {
    color: $white;
    font-size: 14px;

    @media (min-width: $tablet-width) {
      font-size: 24px;
    }
  }
}

.form__button {
  font-size: 14px;
  font-weight: 600;
  color: $white;
  background-color: transparent;
  text-transform: uppercase;
  width: 156px;
  height: 37px;
  border: 2px solid $white;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  margin-left: 35px;

  text-align: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    width: 280px;
    height: 62px;
    border: 3px solid $white;
  }

  @media (min-width: $desktop-width) {
    margin-right: 70px;
    font-size: 28px;
    width: 332px;
    height: 94px;
  }
}
