.goal {
  position: relative;
  top: -5px;
}

.goal__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $laptop-width) {
    background-color: $black;
    margin-bottom: 52px;
    flex-direction: row;
    justify-content: center;
    gap: 84px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
    gap: 151px;
  }
}

.goal__img {
  display: none;

  @media (min-width: $laptop-width) {
    display: block;
    padding-top: 47px;
    height: 100%;
    width: 607px;
    background-color: $black;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.goal__img_desk {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    padding-top: 37px;
    height: 100%;
    width: 712px;
    background-color: $black;
  }
}

.goal__text-container {
  padding-left: 19px;
  padding-bottom: 22px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    padding-bottom: 61px;
  }

  @media (min-width: $laptop-width) {
    padding-left: 0;
    padding-top: 248px;
    padding-bottom: 262px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 249px;
    height: 100%;
    width: 712px;
    background-color: $black;
  }

  &::before {
    display: none;

    @media (min-width: $laptop-width) {
      display: block;
      content: "";
      background-image: url("../../img/goal/pattern-upper.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 666px;
      height: 296px;
      bottom: 380px;
      right: -100px;
      transform: rotate(10deg);
    }

    @media (min-width: $desktop-width) {
      right: 130px;
      transform: none;
    }
  }

  &::after {
    display: none;

    @media (min-width: $laptop-width) {
      display: block;
      content: "";
      background-image: url("../../img/goal/pattern-lower.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 666px;
      height: 296px;
      top: 380px;
      right: 60px;
      transform: rotate(10deg);
    }

    @media (min-width: $desktop-width) {
      top: 360px;
      right: 160px;
      transform: none;
    }
  }
}

.goal__title {
  color: $black;
  margin-bottom: 13px;

  @media (min-width: $laptop-width) {
    color: $white;
  }
}

.goal__text {
  color: $black;

  @media (min-width: $laptop-width) {
    color: $white;
  }
}

.goal__img_small {
  width: 375px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: auto;
  }

  @media (min-width: $laptop-width) {
    display: none;
  }
}
