.goal {
  position: relative;
  top: -5px;

  @media (min-width: $laptop-width) {
    background-color: $black;
  }
}

.goal__container {
  @media (min-width: $laptop-width) {
    flex-direction: row;
    justify-content: center;
    gap: 84px;
  }

  @media (min-width: $desktop-width) {
    gap: 151px;
    position: relative;
  }
}

.goal__img {
  display: none;

  @media (min-width: $laptop-width) {
    display: block;
    padding-top: 47px;
    height: 100%;
    width: 607px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.goal__text-container {
  padding-bottom: 22px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 61px;
  }

  @media (min-width: $laptop-width) {
    padding-top: 248px;
    padding-bottom: 262px;
    width: 543px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 249px;
    background-color: $black;
  }

  &::before {
    display: none;

    @media (min-width: $laptop-width) {
      display: block;
      content: "";
      background-image: url("../../img/goal/pattern-upper.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 666px;
      height: 296px;
      bottom: 380px;
      right: -100px;
      transform: rotate(10deg);
    }

    @media (min-width: $desktop-width) {
      transform: none;
    }
  }

  &::after {
    display: none;

    @media (min-width: $laptop-width) {
      display: block;
      content: "";
      background-image: url("../../img/goal/pattern-lower.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 666px;
      height: 296px;
      top: 380px;
      right: 60px;
      transform: rotate(10deg);
    }

    @media (min-width: $desktop-width) {
      transform: none;
    }
  }
}

.goal__title {
  color: $black;
  margin-bottom: 13px;

  @media (min-width: $laptop-width) {
    color: $white;
  }
}

.goal__text {
  color: $black;

  @media (min-width: $laptop-width) {
    color: $white;
  }
}

.goal__img_small {
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    height: auto;
  }

  @media (min-width: $laptop-width) {
    display: none;
  }
}
