.leisure {
  position: relative;
}

.leisure__container {
  display: flex;
  margin-left: 18px;
  margin-bottom: 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 44px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    gap: 33px;
    margin-bottom: none;
  }
}

.leisure__text-container {
  padding-top: 130px;
}

.leisure__title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;

    &::before {
      content: "";
      background-image: url("../../img/leisure/check-right.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      display: block;
      width: 115px;
      height: 143px;
      top: 5px;
      left: 480px;
    }

    &::after {
      content: "";
      background-image: url("../../img/leisure/check-left.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      display: block;
      width: 80px;
      height: 87px;
      top: 150px;
      left: 80px;
    }
  }
}

.leisure__text {
  width: 351px;

  @media (min-width: $tablet-width) {
    width: 601px;
  }

  @media (min-width: $desktop-width) {
    width: 489px;
  }
}

.leisure__text_first {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;

    &::after {
      content: "";
      background-image: url("../../img/leisure/check-group.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      display: block;
      width: 500px;
      height: 500px;
      left: 480px;
      bottom: -230px;
    }

    &::before {
      content: "";
      background-image: url("../../img/leisure/check-lower.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      display: block;
      width: 176px;
      height: 132px;
      left: 150px;
      bottom: -120px;
    }
  }
}

.leisure__img {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
