.leisure {
  position: relative;
}

.leisure__container {
  display: flex;
  padding-bottom: 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 63px;
  }

  @media (min-width: $laptop-width) {
    justify-content: center;
    gap: 33px;
    padding-bottom: none;
    gap: 90px;
  }
}

.leisure__title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 17px;

    &::before, &::after {
      content: "";
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      display: block;
    }

    &::before {
      background-image: url("../../img/leisure/check-upper.png");
      width: 350px;
      height: 143px;
      top: -60px;
      left: -5px;
    }

    &::after {
      background-image: url("../../img/leisure/check-right01.png");
      width: 70px;
      height: 100px;
      top: 60px;
      left: 440px;
    }
  }
}

.leisure__text {
  @media (min-width: $laptop-width) {
    width: 489px;

    &::before, &::after {
      content: "";
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      display: block;
    }

    &::after {
      background-image: url("../../img/leisure/check-right.png");
      width: 200px;
      height: 800px;
      right: 0;
      top: -100px;
    }

    &::before {
      background-image: url("../../img/leisure/ckeck-lower.png");
      width: 400px;
      height: 120px;
      left: 20px;
      top: 820px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 489px;

    &::after {
      background-image: url("../../img/leisure/check-right_d.png");
      width: 200px;
      height: 800px;
      right: -200px;
      top: 10px;
    }

    &::before {
      background-image: url("../../img/leisure/check-lower_d.png");
      width: 122px;
      height: 120px;
      left: 350px;
      top: 870px;
    }
  }
}

.leisure__text_first {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 35px;

    &::before, &::after {
      content: "";
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      display: block;
    }

    &::after {
      background-image: url("../../img/leisure/check-group.png");
      width: 550px;
      height: 350px;
      top: 500px;
      left: 500px;
    }

    &::before {
      background-image: url("../../img/leisure/check-left.png");
      width: 100px;
      height: 100px;
      top: 200px;
      left: 20px;
    }
  }
}

.leisure__img {
  display: none;

  @media (min-width: $laptop-width) {
    display: block;
  }
}
