.main {
  text-align: center;
  background-image: url("../../img/mountains/background-mobile.jpg");
  background-position: center;
  background-color: $blue;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 95px;
  height: 670px;

  @media (min-width: $tablet-width) {
    text-align: center;
    background-image: url("../../img/mountains/background.jpg");
    background-position: center;
    background-color: $blue;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    height: 1221px;
  }

  @media (min-width: $laptop-width) {
    text-align: center;
    background-image: url("../../img/mountains/background.jpg");
    background-position: center;
    background-color: $blue;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    height: 1440px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.main__logo {
  width: 182px;
  height: 87px;
  margin-bottom: 10px;

  animation-duration: 3s;
  animation-name: slide;

  @keyframes slide {
    from {
      transform: rotate(-360deg);
      margin-right: 100%;
    }

    to {
      transform: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 402px;
    height: 192px;
  }

  @media (min-width: $laptop-width) {
    width: 545px;
    height: auto;
    padding-top: 115px;
    margin-bottom: 20px;
  }
}

.main__title {
  font-size: 24px;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 50px;
  }

  @media (min-width: $laptop-width) {
    font-size: 65px;
    margin-bottom: 8px;
  }
}

.main__subtitle {
  text-transform: none;
  color: $white;
  font-size: 14px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 545px;
    font-size: 24px;
  }

  @media (min-width: $laptop-width) {
    font-size: 25px;
    margin-bottom: 610px;
  }
}

.main__quote {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 230px;

  @media (min-width: $tablet-width) {
    padding-top: 0px;
  }

  // animation-duration: 3s;
  // animation-name: slidein;

  // @keyframes slidein {
  //   from {
  //     margin-right: 100%;
  //     width: 300%;
  //   }

  //   to {
  //     margin-left: 0%;
  //     width: 100%;
  //   }
  // }
}

.quote__text {
  color: $white;
  font-size: 14px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $laptop-width) {
    font-size: 40px;
  }
}

.quote__author {
  color: $white;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-left: 30%;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    margin-left: 25%;
  }

  @media (min-width: $laptop-width) {
    font-size: 25px;
    margin-left: 30%;
  }
}

.main__button_mobile {
  font-weight: 600;
  color: $white;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  width: 185px;
  height: 50px;
  border: 2px solid $white;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
