.organization {
  position: relative;
  top: -60px;

  @media (min-width: $tablet-width) {
    top: -120px;
  }

  @media (min-width: $laptop-width) {
    top: 0;
  }
}

.organization__container {
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-bottom: 270px;
  }

  @media (min-width: $laptop-width) {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 860px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 780px;
  }

  position: relative;
}

.organization__title {
  margin-bottom: 10px;
  margin-left: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
    margin-left: 40px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 12px;
    margin-left: none;
  }
}

.item__title {
  text-transform: none;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 14px;
  }
}

.organization__list {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    gap: 58px;
  }

  @media (min-width: $laptop-width) {
    margin-left: 219px;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 95px;
    column-gap: 145px;
    flex-wrap: wrap;
  }
}

.organization__item {
  z-index: 2;

  &:nth-child(1) {
    &::before {
      display: none;

      @media (min-width: $laptop-width) {
        display: block;
        content: "";
        background-image: url("../../img/work-organization/1.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        width: 124px;
        height: 233px;
        top: -40px;
        left: -80px;
      }

      @media (min-width: $desktop-width) {
        left: 20px;
      }
    }

    &::after {
      display: block;
      content: "";
      background-image: url("../../img/work-organization/arrow-1-mob.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 122px;
      height: 176px;
      top: -10px;
      left: 200px;

      @media (min-width: $tablet-width) {
        display: block;
        content: "";
        background-image: url("../../img/work-organization/arrow-1.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        width: 230px;
        height: 364px;
        top: -60px;
        left: 420px;
      }

      @media (min-width: $laptop-width) {
        display: none;
      }
    }
  }

  &:nth-child(2) {
    padding-left: 46px;

    @media (min-width: $tablet-width) {
      padding-left: 127px;
    }

    @media (min-width: $laptop-width) {
      padding-left: 0;
    }

    &::before {
      display: none;

      @media (min-width: $laptop-width) {
        display: block;
        content: "";
        background-image: url("../../img/work-organization/2.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        width: 124px;
        height: 233px;
        top: -10px;
        right: 535px;
      }

      @media (min-width: $desktop-width) {
        right: 680px;
      }
    }

    &::after {
      display: block;
      content: "";
      background-image: url("../../img/work-organization/arrow-2-mob.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 122px;
      height: 176px;
      top: 120px;
      left: -25px;

      @media (min-width: $tablet-width) {
        display: block;
        content: "";
        background-image: url("../../img/work-organization/arrow-2.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        width: 166px;
        height: 236px;
        top: 250px;
        left: -40px;
      }

      @media (min-width: $laptop-width) {
        display: none;
      }
    }
  }

  &:nth-child(3) {
    &::before {
      display: none;

      @media (min-width: $laptop-width) {
        display: block;
        content: "";
        background-image: url("../../img/work-organization/3.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        width: 124px;
        height: 233px;
        top: 260px;
        left: -100px;
      }

      @media (min-width: $desktop-width) {
        left: 10px;
      }
    }

    &::after {
      display: block;
      content: "";
      background-image: url("../../img/work-organization/arrow-3-mob.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 122px;
      height: 176px;
      top: 240px;
      left: 220px;

      @media (min-width: $tablet-width) {
        display: block;
        content: "";
        background-image: url("../../img/work-organization/arrow-3.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        width: 257px;
        height: 294px;
        top: 450px;
        left: 420px;
      }

      @media (min-width: $laptop-width) {
        display: none;
      }
    }
  }

  &:nth-child(4) {
    padding-left: 115px;

    @media (min-width: $tablet-width) {
      padding-left: 127px;
    }

    @media (min-width: $laptop-width) {
      padding-left: 0;
    }

    &::before {

      display: none;

      @media (min-width: $laptop-width) {
        display: block;
        content: "";
        background-image: url("../../img/work-organization/4.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        width: 124px;
        height: 233px;
        top: 260px;
        right: 535px;
      }

      @media (min-width: $desktop-width) {
        right: 680px;
      }
    }
  }
}

.organization__img {
  position: absolute;
  width: 368px;
  height: auto;
  margin-top: -30px;
  transform: scale(-1, 1);

  @media (min-width: $tablet-width) {
    width: 768px;
    height: auto;
    margin-top: -70px;
  }

  @media (min-width: $laptop-width) {
    left: 0;
    width: 100%;
    height: auto;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    width: 1237px;
    height: auto;
  }
}

.organization__img_desk {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    right: 80px;
  }
}
