.we {
  overflow: hidden;
  position: relative;
}

.we__container {
  position: relative;

  // padding-left: 20px;
  // padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $laptop-width) {
    // padding-left: 150px;
    padding-top: 232px;
    padding-bottom: 238px;
  }

  // @media (min-width: $desktop-width) {
  //   padding-left: 0;
  // }
}

.we__text-container {
  @media (min-width: $laptop-width) {
    width: 560px;
  }

  &::before {
    display: none;

    @media (min-width: $laptop-width) {
      display: block;
      content: "";
      background-image: url("../../img/we/arrow-upper-2.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 959px;
      height: 279px;
      top: 40px;
      right: 400px;
    }

    @media (min-width: $desktop-width) {
      // top: 40px;
      right: unset;
    }
  }

  &::after {
    display: none;

    @media (min-width: $laptop-width) {
      display: block;
      content: "";
      background-image: url("../../img/we/arrow-lower.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 649px;
      height: 289px;
      top: 400px;
      left: 10px;
    }

    @media (min-width: $desktop-width) {
      // top: 380px;
      // left: 140px;
      left: unset;
    }
  }
}

.we__title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 14px;
  }

  &::before {
    display: none;

    @media (min-width: $laptop-width) {
      display: block;
      content: "";
      background-image: url("../../img/we/arrow-upper-1.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 127px;
      height: 214px;
      left: -5px;
      top: 200px;
    }

    @media (min-width: $desktop-width) {
      top: 200px;
      left: -150px;
    }
  }
}

.we__img {
  display: none;

  @media (min-width: $laptop-width) {
    display: block;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: -100px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    right: 0;
    height: 100%;
  }
}
