.work-format {
  z-index: 2;
  position: relative;
}

.work-format__text-container {
  display: flex;
  flex-direction: column;
}

.work-format__container {
  position: relative;
}

.work-format__title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.work-format__text {
  z-index: 2;
  position: relative;

  &::after,
  &::before {
    content: "";
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    display: block;
  }

  &:nth-child(2) {
    padding-bottom: 20px;

    &::after {
      background-image: url("../../img/work-format/line-01.png");
      width: 374px;
      height: 44px;
      left: -15px;
      bottom: 0;
    }

    &::before {
      background-image: url("../../img/work-format/circle-02.png");
      width: 46px;
      height: 23px;
      top: 0;
      left: -20px;
    }

    @media (min-width: $tablet-width) {
      padding-bottom: 61px;

      &::after {
        background-image: url("../../img/work-format/line-1.png");
        display: block;
        width: 711px;
        height: 37px;
        left: -60px;
        bottom: 0;
      }

      &::before {
        background-image: url("../../img/work-format/circle-2.png");
        width: 56px;
        height: 58px;
        top: 0;
        left: -50px;
      }
    }

    @media (min-width: $laptop-width) {
      padding-bottom: 74px;
      width: 50%;

      &::after {
        background-image: url("../../img/work-format/arrow-blue.png");
        background-size: contain;
        width: 553px;
        height: 357px;
        right: -553px;
        left: unset;
        bottom: 0;
      }

      &::before {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        background-image: url("../../img/work-format/arrow-blue-1.png");
        background-size: contain;
        width: 959px;
        height: 462px;
        right: -859px;
        bottom: -100px;
      }
    }
  }

  &:nth-child(3) {
    padding-bottom: 28px;

    &::after {
      background-image: url("../../img/work-format/line-02.png");
      width: 374px;
      height: 25px;
      bottom: 0;
      left: -15px;
    }

    &::before {
      background-image: url("../../img/work-format/circle-03.png");
      width: 56px;
      height: 58px;
      top: 0;
      left: -20px;
    }

    @media (min-width: $tablet-width) {
      padding-bottom: 79px;

      &::after {
        background-image: url("../../img/work-format/line-2.png");
        width: 711px;
        height: 49px;
        left: -60px;
        bottom: 0;
      }

      &::before {
        background-image: url("../../img/work-format/circle-3.png");
        width: 56px;
        height: 58px;
        top: 0;
        left: -50px;
      }
    }

    @media (min-width: $laptop-width) {
      padding-bottom: 101px;
      // margin-left: 560px;
      width: 50%;
      margin-left: auto;

      &::before {
        display: none;
      }

      &::after {
        background-image: url("../../img/work-format/arrow-orange.png");
        background-size: contain;
        width: 702px;
        height: 333px;
        left: -714px;
        top: -80px;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        background-image: url("../../img/work-format/arrow-orange-1.png");
        background-size: contain;
        width: 833px;
        height: 400px;
        left: -1000px;
        top: -150px;
      }
    }
  }

  &:nth-child(4) {
    padding-bottom: 28px;

    &::before {
      background-image: url("../../img/work-format/circle-03.png");
      width: 56px;
      height: 58px;
      top: 0;
      left: -20px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        background-image: url("../../img/work-format/circle-3.png");
        width: 58px;
        height: 50px;
        top: 0;
        left: -50px;
      }
    }

    @media (min-width: $laptop-width) {
      width: 50%;

      &::before {
        display: none;
      }
    }
  }
}

.work-format__img {
  display: none;

  @media (min-width: $laptop-width) {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -300px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.work-format__img_small {
  width: 100%;
  height: auto;
  padding-left: 72px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: auto;
    padding-left: 65px;
    margin-bottom: -100px;
  }

  @media (min-width: $laptop-width) {
    display: none;
  }
}

.work-format__img_d {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -300px;
  }
}
