@font-face {
  font-family: "Commissioner";
  font-weight: 500;
  src: url("../../fonts/commissioner.woff2") format("woff2");
}

@font-face {
  font-family: "Commissioner";
  font-weight: 600;
  src: url("../../fonts/commissioner.woff2") format("woff2");
}

@font-face {
  font-family: "Commissioner";
  font-weight: 700;
  src: url("../../fonts/commissioner.woff2") format("woff2");
}

