html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Commissioner", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $black;

  min-width: 375px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 25px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }
}

a {
  text-decoration: none;
  color: $black;
}

p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 760px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
